.amod-tree {
  width: 372px;
  height: 429px;
  padding: 24px 0px 0px 0px;
  gap: 20px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  position: fixed;
  right: 20px;
  .amod-tree__header {
    width: 324px;
    height: 45px;
    gap: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
    .amod-fitler {
      width: 95px;
      height: 45px;
      margin-left: 64px;
      background-color: rgba(31, 29, 43, 1);
      color: white;
      text-align: center;
      cursor: pointer;
      .divider {
        width: 370px;
        margin-top: 16px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        border: 1px solid rgba(57, 60, 73, 1);
      }
    }
  }
}
